<nav class="navbar fixed-top navbar-expand-lg hotel-admin">
  <div class="container">
    <button class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <i class="navbar-toggler-icon fa fa-bars"></i>
<!--      <span class="navbar-toggler-icon"></span>-->
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class='nav-item'><%= link_to 'Налаштування', hotel_rooms_path(@hotel.id), class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Шахматка', chess_hotel_rooms_path(@hotel.id), class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Календар', calendar_hotel_rooms_path(@hotel.id), class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Номери', hotel_reservations_path(@hotel.id), class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'Бронювання', reservation_list_hotel_rooms_path(@hotel.id), class: 'nav-link' %></li>
        <% if params[:hotel_id] == 'yuliana' || params[:id] == 'yuliana' %>
          <li class='nav-item'><%= link_to 'Ратрак', ratrak_hotel_path(params[:hotel_id] || params[:id]), class: 'nav-link' %></li>
        <% end %>
        <% hotel = Hotel.friendly.find(@hotel.id) %>
        <% if hotel.allow_booking && (!hotel.auto_booking || hotel.reservations.pending.count > 0) %>
          <li class='nav-item'><%= link_to 'Запити бронювань', pending_reservations_hotel_rooms_path(@hotel.id), class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>